h1{
	color: white;
	text-align: center;
	font size: 14pt;
	font-family: fantasy;	
}

h2{
	color: white;
	text-align: center;
	font-size: 16pt;
	font-family: fantasy;
}
body { background-image: url("/hoja/imagenes/meme.jpg");
height: 100vh;
background-position: center;
background-repeat: repeat; 
background-size: cover;}
